body{
  background-color: #32746a;
}
h1,footer{
  text-align: center;
  color: #212529;
}

.container{
  margin: auto;
  margin-top: 20px;
  width: 50%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  background-color: #32746a;
  padding: 10px;
}
.input-border{
  border-radius: 5px;
}
.btn-eliminar{
  float:right;
  background-color: #dc3545;
  color: #212529;
  border-radius: 5px;
  cursor: pointer;
}
.btn-editar{
  float:right;
  background-color: #ffc107;
  color: #212529;
  border-radius: 5px;
  cursor: pointer;
}
.btn-agregar{
  background-color:  #007bff ;
  color: #212529;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

@media only screen and (max-width: 767px) {
  .container{
    width: 90%;
  }
}
